---
import About from '@components/About.astro';
import Contact from '@components/Contact.astro';
import Hero from '@components/Hero.astro';
import Projects from '@components/Projects.astro';
import BackToTop from '@components/ui/BackToTop.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Project 1</h2>
	<span class="mb-10 h-1 w-10 bg-orange"></span>
	Test
	</main>
</Layout>

