---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			My name is Nicole Schmidt and I am an undergraduate student at MIT studying Materials Science
			and Engineering. Professionally, I'm interested in materials performance in extreme
			environments in the automotive and aerospace industries.			
		</p>
		<p>
			I grew up in Ann Arbor, Michigan and in my free time I enjoy resin casting, running, and traveling.
		</p>
	</div>
</section>
